//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    h2{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        margin: 0px;
        padding-bottom: 5px;
        .lib-font-size(24);
    }

    p{
        font-weight: 300;
        color: @color-elogic-grey1;
        padding-bottom: 12px;
        margin: 0px;
        letter-spacing: 1px;
    }

    .underline{
        text-transform: uppercase;
        letter-spacing: 1.3px;
        text-decoration: @link__text-decoration;
        cursor: pointer;
        color: @link__color;
        padding-bottom: 4.5px;
        height: 20px;
    }

    .underline:hover{
        border-bottom: 1px @color-elogic-black1 solid;
    }

    .banners{
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }

    .banners img{
        width: 645px;
    }

    .descr{
        width: 275px;
        margin-top: -227px;
        padding: 0 0 100px 335px;
    }

    .descr h2{
        letter-spacing: 2px;
        .lib-font-size(26);
    }

    .new{
        font-weight: 300;
    }

    .descr p{
        font-style: italic;
        letter-spacing: 0px;
    }

    .top-of-block{
        padding-bottom: 30px;
    }

    .top-of-block p{
        text-transform: uppercase;
    }

    .lines{
        display: flex;
        justify-content: space-between;
    }

    .line-gor{
        width: 30px;
        border-bottom: 3px @color-elogic-black1 solid;
    }

    .line-ver{
        height: 25px;
        width: 1.5px;
        background-color: @color-elogic-black1;
        margin-right: 42px;
        margin-top: -10px;
    }

    .sale-text-with-link{
        display: flex;
        justify-content: space-between;
        margin-top: -110px;
    }

    .sale-text{
        margin-left: 111px;
        padding-top: 8.9px;
    }

    .sale-text h2{
        letter-spacing: 0.5px;
        padding-bottom: 0px;
    }

    .sale-text p{
        text-transform: uppercase;
        color: @color-elogic-black1;
        letter-spacing: 0.25px;
    }

    .nov-sale .underline{
        margin-right: 112px;
        padding-top: 17px;
    }

    .home1, .home2 {

        height: 884.98px;

        .descr {
            margin-top: -500px;
            width: 550px;
            padding: 0;
            margin-left: 350px;
        }

        h2 {
            .lib-font-size(33);
            padding: 0;
        }

        p {
            font-style: normal;
            padding-top: 10px;
            padding-bottom: 50px;
        }

        .new {
            .lib-font-size(33);
            letter-spacing: 2px;
            font-family: @font-family-oswald;
            text-transform: uppercase;
        }

        .underline {
            margin-left: 350px;
        }

        .underline:active {
            text-decoration: none;
            color: @color-elogic-black1;
        }
    }

    .home2 .new {
        font-family: @font-family-name__base;
    }


}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {



}
