//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    h2{
        .lib-css(font-weight, @font-weight__semibold);
        .lib-font-size(24);
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0;
        padding-bottom: 5px;
    }

    p{
        .lib-css(font-weight, @font-weight__light);
        color: @color-elogic-grey1;
        padding-bottom: 12px;
        margin: 0px;
        letter-spacing: 1px;
    }

    .underline{
        text-transform: uppercase;
        letter-spacing: 1.3px;
        text-decoration: @link__text-decoration;
        cursor: pointer;
        color: @link__color;
        padding-bottom: 4.5px;
        height: 20px;
    }

    .underline:hover{
        border-bottom: 1px @color-elogic-black1 solid;
    }

    .banners{
        .lib-vendor-prefix-display(); //flex
        justify-content: space-between;
        margin-bottom: 90px;
        margin-top: 35px;
    }

    .banners img{
        width: 645px;
    }

    .descr{
        width: 275px;
        margin-top: -227px;
        padding: 0 0 100px 335px;
    }

    .descr h2{
        letter-spacing: 2px;
        .lib-font-size(26);
    }

    .new{
        .lib-css(font-weight, @font-weight__light);
    }

    .descr p{
        font-style: @font-style__emphasis;
        letter-spacing: 0;
    }

    .top-of-block{
        padding-bottom: 30px;
    }

    .top-of-block p{
        text-transform: uppercase;
    }

    .lines{
        .lib-vendor-prefix-display();
        justify-content: space-between;
    }

    .line-gor{
        width: 30px;
        border-bottom: 3px @color-elogic-black1 solid;
    }

    .line-ver{
        height: 25px;
        width: 1.5px;
        background-color: @color-elogic-black1;
        margin-right: 42px;
        margin-top: -10px;
    }

    .sale-text-with-link{
        .lib-vendor-prefix-display();
        justify-content: space-between;
        margin-top: -110px;
    }

    .sale-text{
        margin-left: 111px;
        padding-top: 8.9px;
    }

    .sale-text h2{
        letter-spacing: 0.5px;
        padding-bottom: 0px;
    }

    .sale-text p{
        text-transform: uppercase;
        color: @color-elogic-black1;
        letter-spacing: 0.25px;
    }

    .nov-sale .underline{
        margin-right: 112px;
        padding-top: 17px;
    }

    .home1, .home2 {

        height: 48vw;

        .descr {
            margin-top: -500px;
            width: 550px;
            padding: 0;
            margin-left: 350px;
        }

        h2 {
            .lib-font-size(33);
            padding: 0;
        }

        p {
            font-style: @font-style__base;
            padding-top: 10px;
            padding-bottom: 50px;
        }

        .new {
            .lib-font-size(33);
            letter-spacing: 2px;
            font-family: @font-family-oswald;
            text-transform: uppercase;
        }

        .underline {
            margin-left: 350px;
        }

        .underline {
            &:active {
                text-decoration: none;
                color: @color-elogic-black1;
            }
        }
    }

    .home2 .new {
        font-family: @font-family-name__base;
    }

    .triple-slider{
        .lib-vendor-prefix-display();
        justify-content: space-between;
        margin-top: 3.5vw;
    }

    .triple-slider-item {
        width: 420px;

        &:hover{
            .line-ver{
                opacity: 1;
            }
        }

        h2{
            .lib-font-size(18);
            padding-bottom: 20px;
            border-bottom: 1px solid @color-elogic-white2;
            margin-bottom: 40px;
        }

        .line-ver{
            margin-left: 360px;
            margin-top: -80px;
            margin-bottom: 60px;
            height: 20px;
            opacity: 0;
        }
    }

    .news-blog{
        .news-blog-item{
            width: 420px !important;
            height: 447px;

            h3{
                .lib-font-size(14);
                text-transform: uppercase;
                margin-top: 25px;
                padding-bottom: 15px;
            }

            p{
                letter-spacing: .25px;
            }

            .date-time {
                .lib-icon-font(
                    @_icon-font: @font-family-awesome,
                    @_icon-font-content: @icon-calendar,
                    @_icon-font-color: @color-elogic-grey1
                );
                display: flex;

                p {
                    .lib-font-size(13);
                    color: @color-elogic-grey1;
                    font-style: @font-style__emphasis;
                    padding-top: 2px;
                    padding-left: 10px;
                }
            }
        }
    }

    .title-of-block{
        .top-with-lines{
            margin-top: 40px;
            margin-bottom: 30px;
            .lib-vendor-prefix-display();
            justify-content: space-between;
        }

        strong {
            .lib-font-size(36);
            .lib-css(font-weight, @font-weight__regular);
            color: @color-elogic-black2;
        }

        hr{
            color: @color-elogic-grey1;
            width: 520px;
        }

        .line-ver{
            margin-left: 69vw;
            margin-top: -34px;
        }
    }

    .brands{
        margin-top: 10px;

        .brands-item{
            width: 264px;
            height: 148px;
            text-align: center;

            img{
                width: 116px;
                margin-left: 4vw;
            }
        }

        .brands-name {
            margin-top: 10px;
            a{
                .lib-css(font-weight, @font-weight__light);
                color: @color-elogic-black2;
                transition: all .4s ease 0s;

                &:hover{
                    color: @color-elogic-grey1;
                }
            }
        }
    }

    .subscribe-modal-container{
        width: 850px;
        height: 420px;
        background-image: url("https://blueskytechmage.com/drexel/pub/media/rokanthemes/newsletter/background/default/popup_ecd08b275dfa3fa5947ccf0f8e556219.jpg");
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 60px;
        transition: all .4s ease 0s;
    }

    .modal-subscribe-info{
        width: 410px;

        h3{
            .lib-font-size(24);
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-top: 50px;
            margin-bottom: 20px;
            margin-top: 0;
        }

        p{
            line-height: 1.5;
            font-style: italic;
        }

        .modal-dont-show-label{
            .lib-css(color, @color-elogic-grey1)
        }
    }

    .modal-popup._show .modal-inner-wrap{
        width: 972px;
        overflow-y: visible;
        top: 10vh;
    }

    .modals-wrapper {
        .modal-popup {
            .modal-header {
                padding: 0;
            }
        }
    }

    .modal-popup-sub {


        .modal-inner-wrap {
            .modal-content {
                padding: 0;
            }
        }

        .modal-header {

            .action-close {
                background: @color-elogic-black1;
                height: 40px;
                width: 40px;
                border-radius: 100%;
                position: absolute;
                right: -35px;
                top: -35px;
                .lib-icon-font(
                    @_icon-font: @font-family-awesome,
                    @_icon-font-content: @icon-modal-home-close,
                    @_icon-font-color: @color-elogic-white1,
                    @_icon-font-color-hover: @color-elogic-white1
                );

                &:before{
                    .lib-css(font-weight, @font-weight__heavy);
                }

                &:hover{
                    background: @color-elogic-black1;
                }
            }
        }

        .modal-check-show {
            position: absolute;
            margin-top: 150px;
        }
    }

    .header.links{
        .lib-vendor-prefix-display();
        flex-direction: row-reverse;
        list-style: none;
        .lib-css(font-family, @font-family-poppins);
        text-transform: uppercase;
        margin-right: 75px;
        .lib-font-size(12);
        letter-spacing: 1px;
        .lib-css(font-weight, @font-weight__light);

        li {
            margin-left: 20px;
        }
    }

    .sections.nav-sections{
        position: absolute;
    }
    ///////////////////////////////////////////
    .header.content{
        .lib-vendor-prefix-display();
        height: 6.5vw;
        align-items: center;
        padding: 30px 15px 0;


        .header-all-links{
            .lib-vendor-prefix-display();
            justify-content: space-between;;

            a{
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: all .4s ease;

                &:hover{
                    .lib-css(color, @color-elogic-grey1);
                }
            }
        }

        .header-navigation{
            .lib-vendor-prefix-display();
            list-style: none;
            justify-content: space-around;
            width: 470px;
            margin-left: 115px;


            a{
                .lib-css(font-weight, @font-weight__regular);
            }
        }

        .header-link-right{
            .lib-vendor-prefix-display();
            width: 205px;
            justify-content: space-between;
            .lib-font-size(12);
            a{
                .lib-css(font-weight, @font-weight__light);
            }

            .header-wishlist{
                .lib-css(width, 15px);
                .lib-icon-font(
                    @_icon-font: @font-family-awesome,
                    @_icon-font-size: 14px,
                    @_icon-font-content: @icon-add-to-wishlist,
                    @_icon-font-color: @color-elogic-black1,
                    @_icon-font-color-hover: @color-elogic-black1
                );

                &:before{
                    .lib-css(font-weight, @font-weight__light);
                }
            }

            .header-search{
                .lib-icon-font(
                    @_icon-font: @font-family-awesome,
                    @_icon-font-size: 14px,
                    @_icon-font-content: @icon-search,
                    @_icon-font-color: @color-elogic-black1,
                    @_icon-font-color-hover: @color-elogic-black1
                );

                &:before{
                    .lib-css(font-weight, @font-weight__heavy);
                }
            }

            .header-language{
                .lib-icon-font(
                    @_icon-font: @font-family-awesome,
                    @_icon-font-size: 14px,
                    @_icon-font-content: @icon-menu,
                    @_icon-font-color: @color-elogic-black1,
                    @_icon-font-color-hover: @color-elogic-black1
                );

                &:before{
                    .lib-css(font-weight, @font-weight__heavy);
                }
            }
        }

        .submenu{
            list-style: none;
            height: 0px;
            width: 230px;
            .lib-vendor-prefix-display();
            flex-direction: column;
            padding: 0;
            justify-content: space-around;
            align-items: center;

            visibility: hidden;
            transition: all .4s ease;
            .lib-css(background, @color-elogic-black1);
            margin-top: 25px;
            opacity: 0;

            a{
                .lib-css(color, @color-elogic-grey3);
                text-transform: none;
                .lib-css(font-weight, @font-weight__light);
            }
        }

        .submenu1{
            transition: all .4s ease;
            position: absolute;
        }

        .submenu2{
            display: none;
        }

        .nav-item{
            height: 20px;

            &:hover{
                .submenu{
                    visibility: visible;
                    height: 235px;
                    opacity: 1;
                }
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .subscribe-columns {
        .lib-vendor-prefix-display();
        justify-content: center;
        background-color: @color-elogic-grey2;
        height: 127px;

        .subscribe-form-container {
            .lib-vendor-prefix-display();
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            width: 1350px;

            .keep-update-text {

                margin-right: 60px;

                h2 {
                    font-size: 30px;
                    letter-spacing: 2px;
                }

                p {
                    letter-spacing: 0;
                }
            }
        }
    }


    .footer-content {

        .lib-vendor-prefix-display();
        flex-direction: column;

        ul{
            padding: 0;
        }

        .footer-top {
            .lib-vendor-prefix-display();
            justify-content: center;

            .footer-container {
                .lib-vendor-prefix-display();
                justify-content: space-between;
                height: 389px;
                align-items: center;
                width: 1350px;

                li {
                    list-style-type: none;
                    list-style-position: inside;
                    margin: 0;
                    padding-bottom: 15px;

                    a{
                        color: @color-elogic-grey1;
                        letter-spacing: .25px;
                        .lib-css(font-weight, @font-weight__light);
                        transition: all .4s ease 0s;
                    }

                    &:hover{
                        list-style-type: disc;

                        a{
                            color: @color-elogic-black2;
                            margin-left: 2px;
                        }
                    }

                    &::marker{
                        transition: all .4s ease 0s;
                        color: @color-elogic-grey1;
                    }
                }


                h2 {
                    .lib-font-size(16);
                    .lib-css(font-weight, @font-weight__heavier);
                    margin-bottom: 40px;

                    a {
                        color: @color-elogic-black2;
                        .lib-css(font-weight, @font-weight__heavier);
                    }
                }

                .footer-links-item{
                    height: 262px;
                    width: 300px;
                }
            }
        }

        .footer-bottom {
            border-top: 1px @color-elogic-white2 solid;
            .lib-vendor-prefix-display();
            justify-content: center;
            height: 79px;

            .footer-container {

                .lib-vendor-prefix-display();
                justify-content: space-between;
                width: 1350px;
                align-items: flex-end;

                p{
                    text-transform: uppercase;
                    letter-spacing: .25px;
                    padding-right: 30px;
                }

                .footer-link-row{
                    height: 30px;
                    .link-row {
                        .lib-vendor-prefix-display();
                        justify-content: space-between;
                        height: 20px;

                        li {
                            list-style-type: none;
                            padding-right: 20px;

                            a{
                                .lib-font-size(12);
                                color: @color-elogic-grey1;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                                .lib-css(font-weight, @font-weight__light);
                                transition: all .4s ease 0s;

                                &:hover{
                                    color: @color-elogic-black2;
                                }
                            }
                        }
                    }
                }

                .footer-social {
                    .lib-vendor-prefix-display();
                    height: 30px;

                    .link-social {
                        .lib-vendor-prefix-display();
                        justify-content: space-between;

                        li{
                            list-style-type: none;
                            padding-right: 20px;

                            .behance{
                                .lib-icon-font(
                                    @_icon-font: @font-family-awesome,
                                    @_icon-font-content: @icon-footer-behance,
                                    @_icon-font-color: @color-elogic-grey1,
                                    @_icon-font-color-hover: @color-elogic-black2
                                );

                                &::before{
                                    transition: all .4s ease 0s;
                                }
                            }

                            .facebook{
                                .lib-icon-font(
                                    @_icon-font: @font-family-awesome,
                                    @_icon-font-content: @icon-footer-facebook,
                                    @_icon-font-color: @color-elogic-grey1,
                                    @_icon-font-color-hover: @color-elogic-black2
                                );

                                &::before{
                                    transition: all .4s ease 0s;
                                }
                            }

                            .google{
                                .lib-icon-font(
                                    @_icon-font: @font-family-awesome,
                                    @_icon-font-content: @icon-footer-google,
                                    @_icon-font-color: @color-elogic-grey1,
                                    @_icon-font-color-hover: @color-elogic-black2
                                );

                                &::before{
                                    transition: all .4s ease 0s;
                                }
                            }

                            .skype {
                                .lib-icon-font(
                                    @_icon-font: @font-family-awesome,
                                    @_icon-font-content: @icon-footer-skype,
                                    @_icon-font-color: @color-elogic-grey1,
                                    @_icon-font-color-hover: @color-elogic-black2
                                );

                                &::before{
                                    transition: all .4s ease 0s;
                                }
                            }

                            .twitter {
                                .lib-icon-font(
                                    @_icon-font: @font-family-awesome,
                                    @_icon-font-content: @icon-footer-twitter,
                                    @_icon-font-color: @color-elogic-grey1,
                                    @_icon-font-color-hover: @color-elogic-black2
                                );

                                &::before{
                                    transition: all .4s ease 0s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .column.main {
        min-height: 91px;
    }

}

//
//  Laptop L
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .home1, .home2 {

        .descr {
            margin-top: calc(-100% + 68%); //-230
            width: calc(100% - 70%);//200
            margin-left: calc(100% - 82%); //110
        }

        h2 {
            .lib-font-size(15);
            //color: red;
        }

        p {
            padding-bottom: calc(100% - 90%);//35
            .lib-font-size(12);
        }

        .new {
            .lib-font-size(15);
        }

        .underline {
            margin-left: calc(100% - 82%); //110
            .lib-font-size(12);
        }
    }

    .banners {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    .descr{
        margin-top: calc(-33%);
        padding: 0 0 90px calc(50%);
    }

    .blockdesc{
        margin-bottom: calc(7%);
    }

    .sale-text-with-link{
        margin-top: calc(-8.5%);//-67
    }


    .sale-text{
        margin-left: calc(5%);//62px;
        background-color: @color-elogic-white1;
    }

    .sale-text h2{
        .lib-font-size(13);
    }

    .sale-text p{
        .lib-font-size(9);
        padding: 0;
        //background-color: @color-elogic-white1;
    }

    .nov-sale .underline{
        margin-right: calc(8%);//60px;
        font-size: 10px;
        background-color: white;
        padding: 0;
        margin-top: 10px;
        opacity: 0.9;
    }
}

//
//  Mobile 640
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .home1, .home2 {
        p {
            .lib-font-size(10);
        }
    }

    .home1 {
        .new{
            display: none;
        }
    }
}

//
//  Mobile L 480
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .home1, .home2 {

        h2 {
            .lib-font-size(13);
        }

        .new {
            .lib-font-size(13);
        }

        .underline {
            .lib-font-size(9);
        }
    }
}


