//
//  Slick slider styles
//  _____________________________________________

& when (@media-common = true) {
    .slick-prev {
        left: 1221px;
        &:before {
            display: none;
        }
    }

    .slick-next {
        right: -14px;
        &:before {
            display: none;
        }
    }

    .slick-prev,
    .slick-next {
        .lib-font-size(12);
        color: @color-elogic-black1;
        top: -62px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .slick-prev:not(.primary),
    .slick-next:not(.primary) {
        background: none;
    }

    .slick-prev:hover,
    .slick-next:hover
    {
        background: none;
        color: @color-elogic-black1;

    }

    .slick-slide {
        img{
            width: 100%;
        }
    }

    .slick-dots {
        margin-top: -70px;

        li {
            height: 10px;
            margin: 5px 4px;
            width: 10px;

            button {
                border-radius: 0;
                border: 2px solid @color-elogic-black1;
                height: 10px;
                width: 10px;
                transition: 0s;

                &:hover {
                    background: @color-elogic-black1;
                    border: 1px solid @color-elogic-black1;
                }
            }
        }
    }


}
