//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    #home-our-products{
        .product-items{
            display: none;
        }
    }

    .block.widget .product-item-info {
        width: 308px;
        height: 470.11px;
        transition: all .4s ease;

        .actions-secondary {
            .towishlist {
                .lib-icon-font(
                    @_icon-font: @font-family-awesome,
                    @_icon-font-content: @icon-add-to-wishlist,
                    @_icon-font-color: @color-elogic-black2,
                    @_icon-font-size: 16px,
                    @_icon-font-color-hover: @color-elogic-grey1
                    //@_icon-font-display:
                );

                &:before{
                    font-weight: 400;
                    width: 20px;
                }
            }

            .tocompare{
                .lib-icon-font(
                    @_icon-font: @font-family-awesome,
                    @_icon-font-content: @icon-add-to-compare,
                    @_icon-font-color: @color-elogic-black2,
                    @_icon-font-size: 16px,
                    @_icon-font-color-hover: @color-elogic-grey1
                );

                &:before{
                    width: 20px;
                    font-weight: 400;
                }
            }
        }
    }

    .product-item {
        padding: 0 15px;
        .product-image-container-2053 span.product-image-wrapper {
            padding-bottom: 0px;
        }

        .product-image-wrapper {
            width: 308px;
            height: 382.11px;
            padding-bottom: 0px !important;
        }

        .product-image-photo {
            margin: 0px;
            width: 308px;
            transition: all .4s ease 0s;
            opacity: 1;
        }

        .product-item-name {
            .product-item-link {
                text-transform: uppercase;
                color: @color-elogic-grey1;
                .lib-font-size(14);
                letter-spacing: 1px;
                transition: all .4s ease 0s;
            }
        }

        .product-item-details {
            text-align: center;
            margin-top: 20px;
        }

        span.price-label {
            display: none;
        }

        .price-box .price {
            .lib-font-size(18);
            font-family: @font-family-oswald;
            .lib-css(font-weight, @font-weight__bold);
        }

        .old-price .price {
            .lib-font-size(14);
            text-decoration: line-through;
            .lib-css(font-weight, @font-weight__regular);
            vertical-align: top;
        }
    }

    .price-final_price {
        transition: all .4s ease;
    }

    .product-item-photo-hover {
        transition: all .4s ease;
    }

    .block.widget .product-item-info {

        transition: all .4s ease;

        &:hover {
            border: none;
            box-shadow: none;
            margin: 0;
            padding: 0;

            .product-image-photo {
                opacity: 0;
            }

            .actions-secondary {
                margin-top: -354px;
                opacity: 0.96;
                .lib-vendor-prefix-display();
                justify-content: space-around;
                padding: 20px 0;
            }

            .actions-primary {
                margin-left: 200px;
                opacity: 1;
            }

            .price-final_price {
                opacity: 0;
                margin-right: -100px;
            }

            .product-item-photo-hover {
                margin-top: -388px;
                display: block;
            }
        }
    }

    .product-item-actions {
        .actions-secondary {
            .lib-vendor-prefix-display();
            flex-direction: column;
            .lib-css(background, @color-elogic-white1);
            width: 60px;
            height: 159px;
            align-items: center;
            transition: all .4s ease;
            margin-top: -200px;
        }
    }

    .actions-primary {
        margin-top:85px;
        transition: all .4s ease;
    }

    .products-grid .product-item-actions {
        .lib-vendor-prefix-display();
        margin: -135px 0 10px !important;
        align-items: center;
        .lib-vendor-prefix-flex-direction();
    }

    .products-grid .product-item-inner {
        position: inherit;
        box-shadow: none;
        border: none;
    }

    .product-item-actions .actions-primary + .actions-secondary {
        z-index: 999;
    }

    button.action.tocart.primary {
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: @font-family-oswald;
        .lib-font-size(14);
        background: none;
        .lib-css(font-weight, @font-weight__heavier);
        border: none;
        .lib-css(color, @color-elogic-black1);
        border-bottom: 1px @color-elogic-black1 solid;
        width: 86.52px;
        padding: 0;
        padding-bottom: 10px;
        margin-left: -200px;
    }

    .triple-slider-item {

        .product-items {
            display: none;
        }

        .product-item {
            height: 111.66px;
            margin-bottom: 30px;

            .product-item-details {
                text-align: left;
                margin-top: 0;
                margin-left: 18px;
            }

            .product-item-name{
                .product-item-link {
                    &:hover {
                        .lib-css(color, @color-elogic-black2);
                    }
                }
            }
        }

        .product-image-wrapper {
            width: 90px;
            height: 111.66px;
        }

        .block.widget {
            .product-item-info {
                .lib-vendor-prefix-display();
                justify-content: flex-start;
                width: 420px;
                height: 111.66px;

                .product-item-photo {
                    width: 90px;
                    position: inherit;
                }

                .product-image-photo {
                    transition: all .4s ease 0s;
                    opacity: 1;
                }

                .actions-secondary {
                    display: none;
                }

                .actions-primary {
                    display: none;
                }
            }

            .product-item-info:hover {

                .product-image-photo{
                    opacity: 0;
                }

                .actions-secondary {
                    display: none;
                }

                .actions-primary {
                    display: none;
                }

                .price-final_price {
                    opacity: 1;
                    margin-right: 0;
                }

                .product-item-details .product-item-inner {
                    background: none;
                    box-shadow: none;
                    border: none;
                }

                .product-item-photo-hover {
                    margin-top: 0;
                    display: block;
                    width: 90px;
                    margin-left: -90px;
                }
            }
        }
    }
}




//
//  Desktop ppp
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .product-item-info {
        .products-grid & {
            &:hover,
            &.active {
                position: inherit;
            }
        }
    }
}



//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {


}

//
//  Mobile 640
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .products-grid .product-item-inner {
        position: inherit;
        border: none;
    }

    .product-item-actions {
        .actions-primary + .actions-secondary {
            z-index: 999;
        }
    }

    .page-layout-1column .block.widget, .block.widget{
        .products-grid {
            .product-item-inner {
                box-shadow: none;
            }
        }
    }
}

