//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .product-item-info {
        .actions-secondary {
            .towishlist {
                .lib-icon-font(
                    @_icon-font: @font-family-awesome,
                    @_icon-font-content: @icon-add-to-wishlist,
                    @_icon-font-color: @color-elogic-black2,
                    @_icon-font-size: 16px,
                    @_icon-font-color-hover: @color-elogic-grey1
                );

                &:before{
                    font-weight: 400;
                    width: 20px;
                }
            }

            .tocompare{
                .lib-icon-font(
                    @_icon-font: @font-family-awesome,
                    @_icon-font-content: @icon-add-to-compare,
                    @_icon-font-color: @color-elogic-black2,
                    @_icon-font-size: 16px,
                    @_icon-font-color-hover: @color-elogic-grey1
                );

                &:before{
                    width: 20px;
                    font-weight: 400;
                }
            }
        }
    }

    .products-grid .product-items .product-item {
        .product-image-container {
            min-width: 308px;
        }

        .product-image-photo {
            transition: all .4s ease 0s;
            opacity: 1;
            margin: 0;
        }

        .product-item-name {
            .product-item-link {
                text-transform: uppercase;
                .lib-css(color, @color-elogic-grey1);
                .lib-font-size(14);
                letter-spacing: 1px;
                transition: all .4s ease 0s;
            }
        }

        .product-item-details {
            text-align: center;
            margin-top: 20px;
        }

        span.price-label {
            display: none;
        }

        .price-box .price {
            .lib-font-size(18);
            .lib-css(font-family, @font-family-oswald);
            .lib-css(font-weight, @font-weight__bold);
        }

        .old-price .price {
            .lib-font-size(14);
            text-decoration: line-through;
            .lib-css(font-weight, @font-weight__regular);
            vertical-align: top;
        }
    }

    .price-final_price {
        transition: all .4s ease;
    }

    .product-item-photo-hover {
        transition: all .4s ease;
    }

    .products-grid .product-item-info {

        transition: all .4s ease;

        &:hover {
            box-shadow: none;
            border: none;
            margin: 0;
            padding: 0;

            .actions-secondary {
                margin-top: -354px;
                opacity: 0.96;
                .lib-vendor-prefix-display();
                justify-content: space-around;
                padding: 20px 0;
            }

            .actions-primary {
                margin-left: 200px;
                opacity: 1;
            }

            .price-final_price {
                opacity: 0;
                margin-right: -100px;
                width: max-content;
            }

            .product-item-photo-hover {
                margin-top: -391px;
                display: block;
            }
        }
    }

    .product-item-actions {
        .actions-secondary {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();
            .lib-css(background, @color-elogic-white1);
            width: 60px;
            height: 159px;
            .lib-vendor-box-align(center);
            transition: all .4s ease;
            margin-top: -200px;
            opacity: 0;
        }

        .actions-primary {
            margin-top: -39px;
            opacity: 0;
            transition: all .4s ease;
        }

        button.action.tocart.primary {
            .lib-css(font-family, @font-family-oswald);
            .lib-font-size(14);
            .lib-css(color, @color-elogic-black1);
            .lib-css(font-weight, @font-weight__heavier);
            border: none;
            border-bottom: 1px @color-elogic-black1 solid;
            letter-spacing: 1px;
            text-transform: uppercase;
            background: none;
            width: 86.52px;
            padding: 0;
            padding-bottom: 10px;
            margin-left: -200px;
        }
    }

    .products-grid .product-item-actions {
        .lib-vendor-prefix-display();
        .lib-vendor-box-align(center);
        .lib-vendor-prefix-flex-direction();
    }

    .product-item-actions .actions-primary + .actions-secondary {
        z-index: 999;
    }

    #home-our-products{
        padding-bottom: 50px;
        .product-items{
            display: none;
        }

        .product-item {
            margin: 0;
        }

        .products-grid .product-item-inner {
            position: inherit;
            box-shadow: none;
            border: none;
        }

        .products-grid .product-item-info {
            max-height: 477px;
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();
            .lib-vendor-box-align(center);
            &:hover {
                .product-image-photo {
                    opacity: 0;
                }
            }
        }
    }


    .triple-slider-item {

        .product-items {
            display: none;
        }

        .products-grid {
            .product-item {
                height: 111.66px;
                margin-bottom: 30px;

                .product-item-details {
                    text-align: left;
                    margin-top: 0;
                    margin-left: 18px;
                }

                .product-item-link {
                    &:hover {
                        .lib-css(color, @color-elogic-black2);
                    }
                }

                .product-image-container {
                    max-height: 111.66px;
                }
            }
        }

        .product-image-wrapper {
            width: 90px;
            height: 111.66px;
        }

        .block.widget {
            .product-item-info {
                .lib-vendor-prefix-display();
                justify-content: flex-start;
                width: 420px;
                height: 111.66px;

                .product-item-photo {
                    width: 90px;
                    position: inherit;
                }

                .product-image-photo {
                    transition: all .4s ease 0s;
                    opacity: 1;
                }

                .actions-secondary,
                .actions-primary {
                    display: none;
                }
            }

            .product-item-info:hover {

                .product-image-photo{
                    opacity: 0;
                }

                .actions-secondary,
                .actions-primary {
                    display: none;
                }

                .price-final_price {
                    opacity: 1;
                    margin-right: 0;
                }

                .product-item-details .product-item-inner {
                    background: none;
                    box-shadow: none;
                    border: none;
                }

                .product-item-photo-hover {
                    margin-top: 0;
                    display: block;
                    width: 90px;
                    margin-left: -90px;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}


//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Mobile 640
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {

    .products-grid .product-item-info {

        &:hover {
            box-shadow: none;
            border: none;
            margin: 0;
            padding: 0;
        }
    }
}

